body{
    margin: 0px;
    overflow-x: hidden;
}
.logo{
    background-color: black;
}
.head-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-search{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.head-1 img{
    width: 170px;
    padding: 10px 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.dropdown{
    border: 1px solid grey;
    position: relative;
    padding: 7px;
    margin-right: 15px;
    width: 20px;
    display: none;
    i{
        color: white;
    }
}
.dropdown ul{
    display: none;
    background-color: #0f0f0f;
    list-style: none;
    position: absolute;
    padding: 0px;
    i{
        padding: 7px;
    }
}

.icons ul li:hover{
    padding-top: 5px;
}
.search-logo input{
    color: grey;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 25px;
    border: 0px;
    width: 695px;
    margin-left: 55px;
}
.search-logo i{
    color: #0f0f0f;
    background: #ffc300;
    position: absolute;
    top: 11px;
    padding: 11px 23px;
    right: 0;
    border-radius: 0px 25px 25px 0px;
    font-size: 19px;
}
.icons ul{
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 35px;
}
.icons ul img{
    width: 23px;
    padding: 0px 10px;
}
.icons li i{
    font-size: 25px;
    padding: 0px 20px;
}
.head-2 ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px;
    font-weight: 500;
    justify-content: space-around;
    padding: 0px;
}
.head-2 li{
    padding: 10px;
    font-family: system-ui;
}
.seat:hover{
    padding-top: 5px;
    color: #ffc300;
}
.list{
    background-color: #ffc300;
}
.list:hover{
    cursor: pointer;
    color: #ffffff;
}
.img-1{
    height: 390px;
    object-fit: fill;
}
.models{
    margin-top: 20px;
}
.brand-background{
    background-color: #0f0f0f;
}
.brand-background ul{
    padding: 12px 0px;
    font-family: system-ui;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 5px 0px;
}
.brand-background li{
    border-right: 2px solid white;
    padding: 0px 90px 0px 0px;
}
.brand-background i{
    font-size: 20px;
}
.select-car{
    padding:12px 0px 30px;
}
.select-car h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding: 10px 0px;
    margin: 5px 0px;
    font-size: 40px;
}
.select{
    display: flex;
    justify-content: space-around;
}
.select select{
    padding: 10px 10px;
    width: 380px;
    font-weight: 600;
    font-size: 19px;
    color: grey;
    border-radius: 0px 0px 7px 7px;
}
.select button{
    border: 0px;
    background-color: #ffc300;
    color: #0f0f0f;
    font-weight: 700;
    border-radius: 40px;
    padding: 10px 10px;
    font-size: 20px;
    width: 145px;
}
.select button:hover{
    color: white;
}
.exclusive-pro{
    background-color: rgb(240 240 240);
    padding: 20px 0px;
}
.exclusive-pro h3{
    margin-left: 80px;
    padding-left: 20px;
    padding: 5px 28px;
    font-size: 28px;
    border-left: 13px solid #f4bc14;
    border-radius: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.product{
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
    z-index: 1;
}
.mic-bg{
    background-color: #ffffff;
    border-radius: 50%;
    width: 230px;
}
.product img{
    width: 60%;
    padding: 30px 12px;
}
.anime:hover{
    animation-name: bounce;
    animation-duration: 1s;
}
.product p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
} 
.explore{
    background: rgb(238 239 239);
    text-align: center;
    position: relative;
    padding: 50px 0px 20px 0px;
}
.shade{
    width: 120px;
    height: 10px;
    border: 1px solid rgb(83, 82, 82);
    background-color: rgb(83, 82, 82);
    filter: blur(20px);
    margin: auto;
}
.colorshadow{
    background: linear-gradient(0deg, rgba(238,239,239,1) 47%, rgba(195,193,191,1) 100%);
    width: 100%;
    height: 200px;
    position: absolute;
    top: -136px
}
.explore h4{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline #ffc300;
    margin: 0px;
    padding: 12px;
    position: relative;
    z-index: 1;
}
.category{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}
.category-1{
    padding: 30px 0px 60px;
    display: flex;
    justify-content: center;
}
.category-1 .category{
    padding-top: 10px;
}
.category.category{
    padding-bottom: 10px;
}
.cat-1{
    box-shadow: 0px 0px 2px grey;
    border-radius: 8px;
    background-color: white;
    padding: 40px;
    margin: 0px 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}
.cat-1 img{
    width: 115px;
}

.cat-1 p{
    position: relative;
    left: -49px;
    bottom: -23px;
    background-color: rgb(252, 232, 144);
    padding: 9px;
    margin: 0px;
    width: 160px;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
}
.popular{
    text-align: left;
    background-color: white;
    margin: 15px 20px 6px;
    padding: 10px 0px;
}
.popular h4{
    margin: 0px 10px;
    border: 1px solid rgb(241, 239, 239);
    background-color: white;
    padding: 10px 20px;
    font-size: 28px;
    border-left: 13px solid #f4bc14;
    border-radius: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.deals{
    display: flex;
    justify-content: space-between;
    margin: 0px 21px;
    background-color: white;
}
.deal{
    height: 300px;
    width: 100%;
    margin: 0px 8px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.alloy{
    background-image: url(../images/alloywheel.png);
}
.floor-mats{
    background-image: url(../images/floormats.png);
}
.car-headlight{
    background-image: url(../images/headlight.png);
}
.customize{
    background-image: url(../images/2d-bg.png);
}
.customize h3{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline #ffc300;
    font-size: 25px;
}
.about-car{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
    padding: 12px 0px;
}
.about-car img{
    width: 440px;
    margin-bottom: 55px;
}
.about-car  button{
    border: 0px;
    background: #ffc300;
    padding: 10px;
    font-size: 20px;
    border-radius: 34px;
    width: 113px;
}
.about-car .bg-white {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px #c6c5c5;
    border-radius: 48%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 60px;
}
.bg-white:hover .search-button{
    display: block;
    color: #ffffff;
}
.bg-white:hover .explore-button{
    display: none;
}
.search-button{
    display: none;
}
.about-car ul{
    list-style-type: none;
    padding: 0px;
}
.about-car li{
    background-color: white;
    box-shadow: 0px 0px 3px grey;
    margin: 35px 0px;
    width:395px;
    padding: 12px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.companies{
    padding: 12px 0px;
    background-color: rgb(247 247 247);
}
.topbrands h4{
    margin: 6px 20px;
    border: 1px solid rgb(241, 239, 239);
    background-color: white;
    padding: 10px 20px;
    font-size: 28px;
    border-left: 13px solid #f4bc14;
    border-radius: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.company img{
    width: 105px !important;
}

.company ul{
    list-style-type: none;
    display: flex;
    margin: 0px 20px;
    width: 94%;
    padding: 12px;
    border: 1px solid rgb(241, 239, 239);
    background-color: white;
    box-shadow: 0px 0px 2px lightslategrey;
}
.image{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    border: 1px solid white;
    background-color: white;
    padding: 10px 0px;
    margin: 12px 0px;
}
.image img{
    width: 30%;
}
.set {
    display: flex;
}
.set p{
    padding-left: 12px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.foot{
    padding: 20px 0px;
}
.media{
    text-align: center;
}
.media ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.media li{
    padding: 0px 10px;
}
.media li img{
    width: 35px;
}
.foot-1{
    display: flex;
    justify-content: space-evenly;
}
.foot-1 h4{
    margin-bottom: 6px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foot-1 ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
.foot-1 p{
    color: grey;
    margin: 0px;
}
.foot-11{
    display: flex;
    gap:100px;
}
.foot-12{
    display: flex;
    gap:100px;
}
.address{
    position: relative;
}
.map i{
    position: absolute;
    left: -7%;
    bottom: 46%;
    color: black;
}
.contact{
    position: relative;
    padding: 20px 0px;
}
.contact h5{
    color: grey;
    font-size: 20px;
    margin: 0px;
    padding: 12px;
}
.phone i{
    position: absolute;
    right: 100%;
    bottom: 67%;
    color: black;
}
.phone-1 i{
    position: absolute;
    right: 100%;
    bottom: 37%;
    color: black;
}
.foot-2{
    padding: 12px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-2 ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.ship{
    padding: 0px 12px;
}
.ship p{
    padding: 0px 10px;
    font-size: 8px;
    font-weight: 600;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ship img{
    width: 90px;
}
.car{
    display: flex;
    align-items: center;
    justify-content: center;
}
.car img{
    width: 450px;
}
.pay{
    padding-right: 15px;
}
.pay p{
    padding: 0px 3px;
    font-size: 8px;
    font-weight: 600;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pay img{
    width: 65px;
}