@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    font-family: "Poppins", sans-serif;
}
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}
.time{
    background-color: navy;
    font-size: 15px;
}
.top_details{
    display: flex;
    padding: 9px 0px;
    flex-wrap: nowrap;
}
.light_blue{
    display: flex;
    align-items: center;
    width: 50%;
}
.light_blue i{
    padding-right: 6px;
}
.light_blue p{
    color: white;
    padding-left: 90px;
    margin: 0px;
}
.light_blue span{
    color: white;
    padding-left: 10px;
    margin: 0px;
}
.dark_blue{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}
.dark_blue p{
    color: white;
    margin: 0px;

}
.dark_blue ul{
    list-style-type: none;
    display: flex;
    padding-left: 40px;
    font-size: 16px;
    margin: 0px;
    li{
        padding-left: 12px;
        padding-right: 12px;
        color: white;
        cursor: pointer;
    }
}
.dark_blue i:hover{
    color: #0c5adb;
}
.top img{
    padding-left: 48px;
}
.home{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.service{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.service a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(2, 2, 52);
}
.service a:hover{
    color: #0c5adb;
}
.service ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px 20px;
    /* font-family: system-ui, sans-serif; */
    li{
        padding: 26px 16px;
    }
}
.service button{
    background-color:#0c5adb;
    border: 0px;
    padding: 14px;
    width: 140px;
    color: white;
    border-radius: 7px;
}
.page ul{
    list-style-type: none;
    background-color: white;
    margin-top: 23px;
    display: none;
    line-height: 25px;
    border-top: 2px solid rgb(22, 96, 206);
}
.page ul li{
    padding: 6px;
}
.page:hover ul{
    display: block;
    position: absolute;
    padding: 0px;
    z-index: 1;
}
.sub_service :hover{
    background-color: #0c5adb;
    a{
        color: white;
    }
}
.search i{
    font-size: 17px;
    padding-right: 38px;
    padding-left: 13px;
}
.search button:hover{
    color:#0c5adb;
    background-color: white;
    border: 1px solid #0c5adb;
}
.back{
    background-image: url(../images/toptech-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 600px;
    overflow: hidden;
    padding-bottom: 80px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.usa h6{
    color: whitesmoke;
    font-family: system-ui, sans-serif;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 400;
}
.usa h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
    font-family:sans-serif ;
    margin-top: 12px;
    margin-bottom: 12px;
}
.usa p{
    color: grey;
    font-family: system-ui, sans-serif;
}
.usa button{
    width: 130px;
    background-color: #0c5adb;
    color: white;
    border: 0px;
    padding: 15px;
    border-radius: 5px;
}
.but{
    margin-top: 30px;
}
.read{
    margin-left: 15px;
}
.but .talk:hover{
    color: #0c5adb;
    background-color: white;
}
.but .read:hover{
    color: #0c5adb;
    background-color: white;
}
.rotate{
    display: flex;
    position: relative;
}
.rotate img{
    width: 96%;
}
.circle img{
    width: 140px;
    position: absolute;
    top: 129px;
    left: -89px;
}
.card{
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
}
.card_1{
    background-color: white;
    box-shadow: 0px 0px 6px grey;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    transition: 0.7s;
}
.cont{
    position: relative;
    top: -50px;
}
.card_1 i{
    font-size: 40px;
    border: 1px solid #c9d9f3;
    background-color: #c9d9f3;
    border-radius: 50%;
    padding: 15px;
}
.year{
    padding-top: 15px;
}
.card_1:hover{
    background-color: #0c5adb;
    color: white;
    span{
        visibility: visible;
        cursor: pointer;
    }
}
.card_1 h4{
    font-size: 30px;
    font-family: system-ui;
    font-weight: 500;
    margin-top: 35px;
}
.card_1 p{
    margin: 20px 3px 28px;
    font-size: 16px;
}
.year span{
    visibility: hidden;
}
.more{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.top_about img{
    height: 500px;
    width: 100%;
}
.about{
    margin-left: 20px;
}
.about h5{
    color: #0c5adb;
    font-family: system-ui, sans-serif;
    font-size: 15px;
}
.about h2{
    font-weight: 700;
    font-family: system-ui;
    font-size: 45px;
}
.about p{
    color: grey;
    font-size: 16px;
}
.flex {
    display: flex;
    padding-top: 2px;
}
.flex i{
    position: absolute;
    font-size: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(237, 235, 235);
    padding: 8px;
}
.col1{
    padding-right: 30px;
}
.col2{
    padding-left: 30px;
}
.money{
    padding-top: 10px;
    padding-bottom: 20px;
}
.money i{
    color: #0c5adb;
}
.money p{
    position: relative;
    bottom: -14px;
    left: 58px;
    padding: 5px;
    font-size: 18px;
    color: black;
}
.cardd{
    position: relative;
}
.card_2{
    border: 1px solid #0c5adb;
    background-color: #0c5adb;
    color: white;
    padding: 10px;
    position: absolute;
    width: 135px;
    left: 23px;
    height: 185px;
    border-radius: 8px;
    text-align: center;
}
.card_2 h4{
    position: relative;
    top: 10px;
    font-size: 30px;
    border-bottom-style: ridge;
    font-weight: 700;
    padding-bottom: 12px;
}
.card_2 p{
    position: relative;
    top: 22px;
    font-size: 17px;
    font-weight: 700;
}
.about_more{
    margin-top: 10px;
}
.about_more button{
    background-color: #0c5adb;
    color: white;
    border-radius: 6px;
    width: 170px;
    border:1px solid #0c5adb;
    padding: 16px;
    transition: 0.9s;
}
.about_more i{
    border: 1px solid white;
    background-color: white;
    color: #0c5adb;
    border-radius: 50%;
    padding: 3px;
}
.about_more button:hover{
    background-color: white;
    color: #0c5adb;
    i{
        color: white;
        background-color: #0c5adb;
    }
}
.services{
    padding-top: 40px;
    padding-bottom:40px;
    background-image: url(../images/bg_two.png);
    background-position: top;
    width: 100%;
    height: auto;
}
.source{
    text-align: center;
    color: white;
}
.source h5{
    color: #0c5adb;
    font-size: 20px;
    font-weight: 500;
}
.source h2{
    font-size: 35px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 50px;
    margin-bottom: 37px;
}
.graphic{
    background-color: white;
    box-shadow: 0px 0px 10px black;
    text-align: justify;
    border-radius: 15px;
    padding: 30px 0px 30px 24px;
    border-bottom: 1px solid #0c5adb;
    transition: 1s;
}
.gd{
    display: flex;
    justify-content: space-between;
}
.gd img{
    border: 1px solid white;
}
.gd h1{
    font-size: 36px;
    border: 1px solid lightcyan;
    background-color: lightcyan;
    color: #0c5adb;
    padding: 4px;
    width: 66px;
    text-align: center;
    position: relative;
    right: 0px;
    border-radius: 40px 0px 0px 40px;
}
.source_req{
    padding-top: 35px;
}
.source_req p{
    color: rgb(71, 67, 67);
    font-size: 19px;
    padding-right: 30px;
    i{
        color:#0c5adb;
        padding: 10px;
        font-size: 20px;
    }
}
.source_req h4{
    color: black;
    font-size: 25px;
    font-family: system-ui, sans-serif;
}
.source_req span{
    visibility: hidden;
}
.graphic:hover{
    background-color: #0c5adb;
}
.graphic:hover .source_req p{
    color: white;
}
.graphic:hover .source_req h4{
    color: white;
}
.graphic:hover img{
    background-color: white;
}
.graphic:hover .source_req span{
    visibility: visible;
}
.row2{
    padding-top: 20px;
}
.row1{
    padding-top: 30px;
}
.team_mem{
    padding-top: 40px;
    padding-bottom: 50px;
}
.team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.team p{
    color: #0c5adb;
    font-size: 20px;
}
.team h1{
    font-size: 45px;
}
.team button{
    background-color: #0c5adb;
    color: white;
    padding: 16px;
    border-radius: 7px;
    width: 160px;
    border: 1px solid #0c5adb;
    transition: 1s;
    i{
        border: 1px solid #0c5adb;
        padding: 4px;
        color: #0c5adb;
        border-radius: 50%;
        background-color: white;
        
    }
}
.team button:hover{
    background-color: white;
    color: #0c5adb;
    i{
        background-color: #0c5adb;
        color: white;
    }
}
.team1 img{
    width: 100%;
    padding-top: 40px;
}
.name{
    box-shadow: 0px 0px 6px grey;
    text-align: center;
    padding: 27px;
    position: relative;
    transition: 1s;
}
.team1:hover .name{
    position: relative;
    top: -40px;
    background-color:#0c5adb;
    color: white;
}
.share i{
    left: 112px;
    position: absolute;
    font-size: 20px;
    top: 100px;
    border: 1px solid #0c5adb;
    background-color: #0c5adb;
    color: white;
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
}
.review{
    background-image: url(../images/top-bg.png);
    padding-top: 40px;
    padding-bottom: 40px;
    height: 250px;
    text-align: center;
}
.rate{
    padding-top: 28px;
    color: white;
}
.rate h4{
    font-size: 50px;
}
.rate p{
    color: grey;
    font-family: sans-serif;
}
.provide{
    padding-top: 40px;
}
.break{
    text-align: center;
}
.break h5{
    color: #0c5adb;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.break h2{
    color: black;
    font-size: 35px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 50px;
    margin-bottom: 37px;
}
.list ul{
    list-style-type: none;
    display: flex ;
    justify-content: center;
}
.all{
    color: #0c5adb;
}
.list li{
    padding: 10px 37px;
    border: 1px solid rgb(200, 199, 199);
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.portfolio img{
    width: 100%;
    position: relative;
    border-radius: 8px;
}
.req{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px black;
    border-radius: 0px 7px 7px 0px;
    padding: 20px;
    position: absolute;
    border-left: 5px solid #0c5adb;
    bottom: -78px;
    height: 130px;
    width: 400px;
    background-color: white;
}
.req h1{
    font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;
    color: #d4edfd;
}
.req p{
    position: relative;
    top: 7px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui;
}
.icon i{
    background-color: #0c5adb;
    color: white;
    border: 1px solid #0c5adb;
    padding: 7px;
    position: absolute;
    top: -39px;
    font-size: 18px;
    right: -31px;
    border-radius: 23px 21px 26px 0px;
    visibility: hidden;
}
.req p:hover{
    color: #0c5adb;
    cursor: pointer;
}
.toptech:hover i{
    visibility: visible;
}
.toptech:hover h1{
    color: #0c5adb;
}
.toptech{
    position: relative;
    top: 53px;
}
.working_process{
    padding-top: 60px;
}
.work{
    padding-top: 200px;
    padding-bottom: 130px;
    background-color: rgb(19, 19, 53);
    color: white;
    text-align: center;
}
.work h5{
    color: #0c5adb;
    font-family: system-ui;
    font-size: 20px;
}
.work h1{
    font-size: 40px;
    font-family: system-ui;
    font-weight: 600;
    margin-bottom: 45px;
}
.one_process{
    position: relative;
}
.one_process h3{
    position: absolute;
    left: 62px;
    background-color: #0c5adb;
    border: 1px solid #0c5adb;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
}
.one_process h4{
    position: absolute;
    left: 68px;
    background-color: #0c5adb;
    border: 1px solid #0c5adb;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    bottom: 6px;
}
.process1{
    padding-top: 20px;
}
.process1 h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
}
.process1 p{
    color: grey;
    font-size: 17px;
}
.testimonals{
    padding-top: 40px;
    padding-bottom: 40px;
}
.test{
    text-align: center;
}
.center {
    position: absolute;
    left: 4%;
    top: -76px;
}
.test h3{
    color: #0c5adb;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.test p{
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.about_test{
    margin-top: 92px;
}
.about_test p{
    margin: 20px 0px;
    padding: 40px 0px;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
    color: grey;
}
.rating{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.rating li{
   padding: 0px 5px;
   margin: 0px 10px;
   color: rgb(243, 143, 14);
   font-size: 17px
}
.video_bg{
    background-image: url(../images/video-bg.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 60px;
}
.video{
    text-align: center;
    color: white;
}
.video h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.video h3{
    color: #0c5adb;
}
.video i{
    font-size: 30px;
    color: white;
    border: 1px solid #0c5adb;
    padding: 12px;
    border-radius: 50%;
    background-color: #0c5adb;
    cursor: pointer;
}
.contact{
    padding-top: 80px;
    padding-bottom: 80px;
}
.method{
    border: 1px solid #0c5adb;
    padding: 11px 15px 18px 97px;
    margin: 0px 5px;
    width: 32%;
    border-radius: 11px;
}
.call{
    display: flex;
    align-items: center;
    position: relative;
}
.call p{
    font-size: 23px;
    color: #0c5adb;
}
.call h3{
    font-size: 16px;
}
.phone i{
    font-size: 25px;
    position: absolute;
    left: -65px;
    top: 18px;
    border: 1px solid #0c5adb;
    padding: 13px;
    color: #0c5adb;
    border-radius: 50%;
}
.method:hover{
    background-color: #0c5adb;
    color: white;
}
.method:hover p{
    color: white;
}
.method:hover i{
    border: 1px solid white;
    color: white;
}
.plan{
    background-image: url(../images/pricing-bg.jpg);
    height: auto;
    padding: 40px 0px;
}
.detail{
    position: relative;
    padding-top: 80px;
}
.detail h3{
    color: #0c5adb;
    font-size: 18px;
    font-family: system-ui;
}
.detail h1{
    color: white;
    font-size: 44px;
    line-height: 58px;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}
.detail ul{
    list-style-type: none;
    padding: 30px 0px;
    font-family: 'Segoe UI', sans-serif;
}
.detail li{
    color: white;
    padding: 20px 0px;
    border-bottom: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}
.func i{
    position: absolute;
    right: 15px;
}
.one_year{
    border: 1px solid #0c5adb;
    background-color: #0c5adb;
    color: white;
    width: 100%;
    height: 50%;
    padding: 30px;
    border-radius: 16px;
}
.top_1{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.ammount button{
    color: #0c5adb;
    position: absolute;
    top: -47px;
    right: 10px;
    border: 0px;
    border-radius: 4px;
    padding: 6px 20px;
}
.check{
    display: flex;
    position: relative;
}
.check i{
    position: absolute;
    margin: 5px -6px;
    padding: 0px 9px;
    border: 1px solid white;
    background-color: white;
    color: #0c5adb;
    font-size: 28px;
    border-radius: 5px;
}
.nine{
    padding: 0px 50px;
}
.nine h1{
    padding-bottom: 10px;
}
.nine p{
    color: rgb(211, 207, 207);
    font-size: 14px;
    
}
.nine button{
    border: 1px solid white;
    background-color: #0c5adb;
    color: white;
    padding: 14px;
    width: 120px;
    border-radius: 6px;
    margin-top: 20px;
}
.one_month{
    border: 1px solid white;
    background-color: white;
    color: black;
    width: 100%;
    height: 50%;
    padding: 30px;
    border-radius: 16px;
    margin-top: 30px;
}
.ammount span{
    font-size: 23px;
    font-weight: 100;
}
.ammount_1 span{
    font-size: 23px;
    font-weight: 100;
}
.ammount h1{
    font-weight: 600;
}
.ammount_1 h1{
    font-weight: 600;
}
.ammount_1 button{
    color: white;
    background-color: #0c5adb;
    position: absolute;
    top: -47px;
    right: 10px;
    border: 0px;
    border-radius: 4px;
    padding: 6px 20px;
}
.check-1 i{
    position: absolute;
    padding: 0px 9px;
    margin: 6px -8px;
    border: 1px solid #0c5adb;
    background-color:#0c5adb;
    color: white;
    font-size: 28px;
    border-radius: 5px;
}
.nine_1{
    padding: 0px 50px;
}
.nine_1 h1{
    padding-bottom: 10px;
}
.nine_1 p{
    color: rgb(159, 150, 150);
    font-size: 14px;
    
}
.nine_1 button{
    border: 1px solid #0c5adb;
    background-color: white;
    color: #0c5adb;
    padding: 14px;
    width: 120px;
    border-radius: 6px;
    margin-top: 20px;
}
.nine_1 button:hover{
    background-color: #0c5adb;
    color: white;
}
.nine button:hover{
    background-color: white;
    color:#0c5adb;
}
.offer{
    margin-left: 20px;
    padding-left: 30px;
}
.blog{
    padding-top: 40px;
    padding-bottom: 40px;
}
.insight{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.insight h5{
    color: #0c5adb;
    font-size: 20px;
}
.insight h1{
    color: black;
    font-size: 40px;
}
.img-div{
    text-align: center;
}
.animate__pulse img:hover{
    animation: "pulse";
    animation-duration: 2s; 
}
.blog1{
    box-shadow: 0px 0px 2px rgb(150, 148, 148);
    padding: 15px;
    border-radius: 7px;
}
.blog1 img{
    width: 328px;
}
.calendar{
    margin: 10px 0px;
    padding: 10px 0px;
}
.calendar i{
    color: #0c5adb;
    font-size: 22px;
}
.calendar p{
    font-size: 16px;
}
.calendar h2:hover{
    color: #0c5adb;
    cursor: pointer;
}
.calendar h2{
    font-size: 20px;
}
.end{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(193, 188, 188);
}
.end p{
    margin: 10px;
    font-size: 16px;
    i{
        position: relative;
        font-size: 25px;
        top: 2px;
    }
}
.end h4{
    margin: 14px;
    font-size: 16px;
    i{
        position: relative;
        font-size: 25px;
        top: 2px;
    }
}
.end p:hover{
    color: #0c5adb;
    cursor: pointer;
}
.brand{
    background-image: url(../images/brand-bg.jpg);
    height: 200px;
    padding: 70px 0px;
}
.brand ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.brand li{
    padding-left: 30px;
    padding-right: 30px;
}
.foot{
    background-image: url(../images/footer-bg.jpg);
    height: auto;
    padding: 60px 0px 20px 0px;
}
.foot1 p{
    color: rgb(184, 179, 179);
    margin: 20px 0px;
    padding: 20px 0px;
    font-size: 20px;
}
.foot1 img{
    cursor: pointer;
}
.foot1 button{
    color: white;
    background-color: #0c5adb;
    border: 0px;
    padding: 19px 5px;
    font-size: 18px;
    width: 200px;
    border-radius: 7px;
}
.foot1 button:hover{
    color: #0c5adb;
    background-color: white;
}
.foot2 h3{
    color: white;
}
.foot2 ul{
    list-style-type: none;
    padding: 0px;
}
.foot2 li{
    color: white;
    line-height: 50px;
    font-size: 16px;
}
.foot2 a{
    color: white;
    padding-left: 15px;
    text-decoration: none;
}
.foot2 a:hover{
    color: #0c5adb;
}
.foot2 i{
    color: #0c5adb;
    font-size: 20px;   
}
.foot3{
    margin-left: 20px;
}
.foot3 h2{
    color: white;
    font-size: 40px;
}
.foot3 p{
    color: rgb(187, 180, 180);
    font-size: 18px;
}
.foot3 input{
    border: 1px solid grey;
    padding: 17px;
    background:none;
    width: 270px;
    margin-top: 20px;
    border-radius: 5px;
}
.foot3 button{
    background-color: #0c5adb;
    color: white;
    padding: 14px 5px;
    font-size: 18px;
    border: 0px;
    width: 140px;
    border-radius: 5px;
}
.copy{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgb(81, 80, 80);
    color: rgb(174, 172, 172);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy p{
    color: white;
    font-size: 18px;
}
.copy ul{
    list-style-type: none;
    display: flex;
}
.app li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 13px; 
    color: white;
    border: 1px solid rgb(37, 37, 118);
    border-radius: 50%;
    background-color: rgb(37, 37, 118);
}
.app li:hover{
    background-color: #0c5adb;
    cursor: pointer;
}